@model Covid19Api.Models.ApiRootObject

@{
    ViewData["Title"] = "Covid-19";
}

    <h1>Covid-19 <strong>covid19api.com </strong> </h1><i class="fas fa-virus"> </i>
                                                       <i class="fas fa-virus"> </i>
<table class="table table-striped">
    <thead>
        <tr>
           
                <th>
                    @Html.DisplayNameFor(model => model.Countries[0].Country)
                </th>  
                <th>
                    @Html.DisplayNameFor(model => model.Countries[0].NewConfirmed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Countries[0].TotalConfirmed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Countries[0].NewDeaths)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Countries[0].TotalDeaths)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Countries[0].NewRecovered)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Countries[0].TotalRecovered)
                </th>
                <th>
                   LastUpdated
                </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Countries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>    
                <td>
                    @Html.DisplayFor(modelItem => item.NewConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewDeaths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalDeaths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewRecovered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalRecovered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
</table>
